.one{
    border-radius:30% ;
    
}
.two{
    border-radius:30% ;
    
}
.jedan{
    margin: 15px 0px 10px 6px;
    border: 2px dashed rgb(248, 203, 5);
    padding: 6px;
    margin-bottom: 10px;
    font-family: Lucida Calligraphy;
}
.dva{
    margin: 15px 0px 10px 6px;
    border: 2px dashed rgb(248, 203, 5);
    padding: 6px;
    margin-bottom: 10px;
    font-family: Lucida Calligraphy;
}